@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;



    }

.outerbox{
    width: 100vw;
    height: 100vh;
    background-color:black;

}
.innerbox{
    width: 450px;
    height: 500px;
    margin: 0 auto;
    background:linear-gradient(to top left,#ffffff33,#ffffff33);
    backdrop-filter: blur(10px );
    border-radius: 8px;
    /* border: 2px solid white; */
    padding: 10px;
    position: relative;
    top: 20%;
    /* box-shadow: 2px 2px 5px rgb(44, 49, 50); */
    z-index: 1;
}

.signup-header{
    text-align: center;
    margin: 2px; 
    color: rgb(8, 118, 243);
    font-size: 25px;


}
.signup-body{
    margin: 20px 0;

}

.form p{
    margin: 10px 15px;
}

.form p label{
    display: block;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.form p input{
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 18px;
}

#submit{
    background-color: rgb(9, 148, 248);
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    padding: 7px;
    

}
#submit:hover{
    background-color: rgb(0, 110, 255);
    color: black;
    

}

.footer{
    text-align: center;
    color: white;
    
}
#log{
    color: rgb(20, 158, 244);
}

#sec{
    font-size: 20px;
}

.circle1{
    width: 200px;
    height: 200px;
    background:linear-gradient(to top right, white,rgb(6, 107, 240));
    border-radius: 50%;
    position: fixed;
    top: 100px;
    left: 33%;
}



