@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: black;
}

.rows{
    
    height: 20vh;
    width: 40vw;
    /* background-color: black; */
    /* border: 2px solid black; */
    display: flex;
}
#one,#two,#three{
    border-top: none;
}
#one,#four,#seven{
    border-left: none;
}

.main{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inside-rows{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 15px;
    height: 20vh;
    font-size: 120px;
    color: blue;
    width: 20vw;
    border: 7px solid white;
    border-bottom: none;
    border-right: none;
}
h1{
    font-size: 100px;
    color: blue;
    animation: animate 1s linear infinite;
    
}

button{
    background-color: black;
    color: white;
    border: 2px solid blue;
    padding: 10px;
    font-size: 50px;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 950px){
    .rows{
        height: 10vh;
        width: 80vw;
    }
    .inside-rows{
        height: 10vh;
        width: 40vw;
        font-size: 60px;
    }
    h1{
        font-size: 60px;
        margin-top: 60px;
    }
    button{
        font-size: 30px;
        margin-top: 80px;
    }
}